body, html{
background-color: black;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.full_stopwatch{
  transition: transform 0.4s ease-in-out;
}
.full_stopwatch:hover{
  transform: scale(1.05);
}

h1 {
  color: white;
  background-color: black;
  padding: 10px;
  border: 20px solid rgb(198, 177, 177);
  border-radius: 20px;
  margin-bottom: 80px;
  width: 100%;
  font-size: 10rem;
  margin-top: 0px;
}

.laps{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: aliceblue;
  margin-top: 30px;
  margin-left: 370px;
}

.btns{
  display:flex ;
  justify-content: space-evenly;
  font-size: 100px;
}
.btn1{
  background-color: green;
  font-size: 3.5rem;
  color: white;
  font-family: serif;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
  padding: 4px;
  
}
.btn1:hover{
  box-shadow: 4px 4px 4px rgb(4, 255, 66);
  transform: scale(1.08);
}

.btn2{
  background-color: rgb(191, 10, 3);
  font-size: 3.5rem;
  color: white;
  font-family: serif;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
  padding: 4px;
  
}
.btn2:hover{
  box-shadow: 4px 4px 4px rgb(184, 5, 5);
  transform: scale(1.08);
}

.btn3{
  background-color: rgb(12, 194, 210);
  font-size: 3.5rem;
  color: white;
  font-family: serif;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
  padding: 4px;
  
}
.btn3:hover{
  box-shadow: 4px 4px 4px rgb(5, 205, 205);
  transform: scale(1.08);
}

.btn4{
  background-color: rgb(151, 134, 5);
  font-size: 3.5rem;
  color: white;
  font-family: serif;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
  padding: 4px;
}

.btn4:hover{
  box-shadow: 4px 4px 4px rgb(151, 134, 5);
  transform: scale(1.08);
}